# Entorno virtual de Python
.venv/
venv/

# Carpeta Archivos de base de datos
instance/
*.sqlite3
*.db

# Migraciones
migrations/


# Archivos compilados
__pycache__/
*.pyc
*.pyo

# Archivos generados
*.log

# Archivos de configuración sensible
.env
settings.py

# Archivos de sistema
.DS_Store
Thumbs.db

# Directorios de distribución y construcción
dist/
build/
*.egg-info/

# Archivos de configuración de IDEs
.idea/
.vscode/
